# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for data science
- List some of the commonly used libraries used by Data Scientists
- List data science tools in a table

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL
5. Scala
6. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. TensorFlow

| Data Science Tools |
| ---- |
| Jupyter Notebooks |
| Jupyter Lab |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
 # This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author
Alberto